<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <form action="/clientes?s=1" method="post">
        <input type="hidden" name="_id" value="<%= cliente._id %>">

        Nome: <input value="<%= cliente.nome %>"  type="text" name="nome" required>

        Id: <input <% if(cliente.id != undefined){ %> readonly <% } %> value="<% cliente.id %>" type="text" name="id" required>

        Tipo de seguro: <input value="<%= cliente.seguro %>"  type="number" name="seguro">
        <input type="submit" value="Salvar">
    </form>

    <a href="/">Voltar para Página Inicial</a><br>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>