<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <% if (salvo!=undefined) {%>
        <div style="background-color: mediumspringgreen;">Usuario Cadastrado com sucesso</div>
    <% } %>

    <% if (removido!=undefined) {%>
        <div style="background-color: crimson;">Usuario Removido com sucesso</div>
    <% } %>
    
    <table class="container table table-striped">
        <th>Email</th>
        <th>Nome</th>
        <th>Detalhar</th>
        <th>Remover</th>
        <th>Atualizar</th>

    <% for (const usuario of dbUsuarios) { %>

        
            <tr>
            <td><%= usuario.email %></td>
            <td><%= usuario.nome %></td>
            <td>
                <a class="btn btn-secondary" href="/usuarios/<%= usuario._id %>">Detalhar</a>
            </td>
            <td>
                <a class="btn btn-danger" onclick="return confirm('Deseja realmente remover?')" href="/usuarios/remover/<%= usuario._id %>">Remover</a>
            </td>
            <td>
                <a class="btn btn-info" href="/usuarios/cadastrar/<%= usuario._id %>">Atualizar</a>
            </td>
            </tr>
        </table>
        
        <div>
            Seu nome é <%= usuario.nome %> e você tem <%= usuario.senha %> anos
        </div>
    <% } %>

    <a href="/">Voltar para Página Inicial</a>
    <%- include("../partials/rodape.ejs") %> 
</body>
</html>